################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sudoku/Sudoku.Console/obj
/Sudoku/.vs/Sudoku/FileContentIndex
